*{
	margin: 0px;
	padding: 0px;
}
h2
{
	font-family:"Myriad Pro";
	font-size: 33px;
	display: inline;
	margin:0 auto;
}
.cwrapper
{
	background-image:url(../images/bg.jpg);
	padding:40px 10px;
	width: 100%;
	text-align: center;
	overflow: hidden;
}
.form
{
	display: inline-block;
	background-color: transparent;
	color:#000;
	padding:20px 100px;
	text-align: left;
}
#f1
{
	position: relative;
	top: -100px;
}
#f2
{
	padding-right: 300px;
}
.form:last-child
{
	border-left:1px rgba(0,0,0,0.1) groove;
}
.form img
{
	float:right;
}
.form p.warning
{
	padding:5px;
	background-color: rgba(255,0,0,0.4);
	border-radius:6px;
	text-align: center;
	margin:20px 0px;
	border: 1px red solid;
	color: rgba(255,0,0,0.7);
}
.form input::-webkit-input-placeholder 
{
   color: rgba(37,21,26,0.5);
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}
.form input
{
	display:block;
	padding:8px;
	margin-bottom: 20px;
	border:1px #aaa solid;
	color:#000;
	background-color:rgba(0,0,0,.1);
	box-shadow: 
        0 1px 0 rgba(255,255,255,0.2), 
        inset 0 1px 1px rgba(0,0,0,0.1);
	width:240px;
	border-radius: 4px;
}
input:focus
{
	 box-shadow: 
        0 1px 0 rgba(255,255,255,0.5), 
        inset 0 1px 1px rgba(0,0,0,0.1),
        0 0 0 3px rgba(255,255,255,0.5);
}
label
{
	display: block;
	margin:15px 0px;
	cursor: pointer;
}
input[name="forgot"]
{
	display: none;
}
button
{
	border:0px;
	margin-bottom: 20px;
	padding: 20px 10px;
	width:260px;
	border-radius: 7px;
	display: block;
	background-color:#3498db;
}
button:hover
{
	background-color:rgba(52,152,219,0.1);
	
}
button h3
{
	color:#fff;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}
