*
{
	font-weight: lighter;
}
body
{
	background-image: url(bg2.jpg);
	width: 100%;
	font-family: "Trebuchet MS";
}
#wrapper
{
	width:960px;
	margin:0 auto;
	padding: 0px 5px;

}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.3); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.4); 
}
/*
******************************************
Header + Navbar
*******************************************
*/
header
{
	width:100%;
	height: 120px;
	background-color:black;
	box-shadow: 0 10px 21px -10px #000;
}
.logo h1
{
	line-height: 40px;
	margin: 40px;
	color:#fff;
	font-size: 50px;
	font-family:"Century Gothic";
	float:left;
}
#navbar
{
	float:right;
	margin-right: 20px;
	height: 120px;
}
#navbar ul li:first-child
{
	margin-left:45px;
}
#navbar ul li
{
	display: inline;	
	height: 120px;
	line-height: 120px;
	font-size: 20px;
	border-radius:5px; 
	padding:6px 10px;
	width:60px; 
}
#navbar ul li:last-child
{	
	border-right:1px solid rgba(0,0,0,0);
}
#navbar ul li a
{
	text-decoration: none;
	color:#fff;
	padding: 0px 10px;
}
#navbar ul li a.active
{
	color:#049cdb;
}
#navbar ul li:hover
{
	background-color: rgba(255,255,255,0.1);
}
/*
***************************************
			Search
***************************************
*/
input[name='search']
{
	/*border:0px;
	color:#fff;
   	width: 755px;
	height: 35px;
	margin:25px 0px 25px 0px;
	border-radius: 5px; 
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.5) inset;
	background-color: #fff;
	padding-left:15px; 
    margin-left:90px;*/
    display:inline-block;
	padding:8px;
	margin-bottom: 20px;
	border:1px #aaa solid;
	color:#000;
	background-color:rgba(0,0,0,.1);
	box-shadow: 
        0 1px 0 rgba(255,255,255,0.2), 
        inset 0 1px 1px rgba(0,0,0,0.1);
	width: 755px;
	border-radius: 5px;
}

input[name='submit']
{
	border:0px;
	height: 33px;
	width:90px;
	color: white;
	background-color: rgb(15,16,16);
	border-radius:7px;

}
input[name='submit']:hover
{
	background-color: rgba(15,16,16,0.4);
}
input:focus{
outline:none;
}
/*
**********************
        Footer
**********************
*/
footer
{
	background-color: rgba(0,0,0,0.7);
	box-shadow:5px -10px 22px -10px rgba(0,0,0,0.75);
	color:#fff;
	clear: both;
	text-align: center;
}
a.logo h2
{
	margin-left:50px; 
	font-size: 32px;
	font-family:"Century Gothic";
	letter-spacing: 5px;
	float: left;
	line-height: 216px;
	color:#fff;
}
.social img
{
	height: 40px;
	width: 40px;
}
.social
{
	margin: 0 auto;
	display: inline-block;
}
.social ul li
{
	list-style-type:none;
	display: inline-block;
	margin:90px 15px;
	margin-bottom: 0px;
}
.social ul li:first-child
{
	margin-right: 10px;
}
.social ul li p
{
	position: relative;
	left:2px;
}
.social ul li a:hover
{
	opacity: 0.4;
}
.sitemap li 
{
	list-style-type: none;
	margin: 0px 10px;
	width: 150px;
	text-align: left;
}
.sitemap li:first-child
{
	border-bottom: 1px white solid;
	margin-bottom: 20px;
}
.sitemap li a
{
	text-decoration: none;
}
.sitemap
{
	float:right;
	margin-top: 20px;
	margin-right: 60px;
}
.sitemap li a 
{
	color:#aaa;
	text-decoration: none;
}
#copyright
{
	clear: both;
	color: white;
	background-color: transparent;
}